
.home-container{
    width: 60%;
    margin: auto;
}

.home-container span,
.home-container p{
    transition: 200ms ease-out;
}

.home-container .nav-link {
    transition: 200ms ease-out;
}

.home-container .nav-link:hover {
    transform: translateY(-1.5px);
    & span {
        color: #FFF;
    }
    & p {
        color: #FFF;
    }
}

.home-categorie span{
    font-size: 60px;
  }

.home-categorie a{
    width: 100%;
    height: 150px;
    color: #FFF;
    border-radius: 10px;
    margin-bottom: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    /* background-color: #13C1AC; */
  }


@media only screen and (max-width: 1300px) {
    .home-container{
        width: 90%;
        margin: auto;
    }
}