/* body{
    width: 100% !important;
} */

.item {
  width: 700px;
  margin: auto;
  padding: 10px 20px;
}

.item-container {
  padding-bottom: 50px;
}

.item .item-path {
  margin-bottom: 50px;
  text-align: center;
}

.item .item-path span {
  font-size: 0.75rem;
  color: #607d8b;
  letter-spacing: 1px;
}

.user-header {
  margin-bottom: 10px;
}

.item-info-user {
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.item-info-user:hover {
  text-decoration: none;
  color: #000;
}

.user-image {
  /* width: 60px;
    height: 60px; */
}

.user-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.user-header .user-name {
  padding: 10px;
}

.user-header .user-name h5 {
  margin-left: 10px;
}

.chat-btn-item {
  text-align: right;
  margin: auto;
}

.chat-btn-item button {
  background-color: #13c1ac;
  width: 140px;
  padding: 10px;
  border-radius: 50px;
  color: #fff;
  border: none;
  transition: 200ms;
}

.chat-btn-item button:hover {
  background-color: #0f9989;
}

.save-post-col {
  text-align: right;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: end;
}

.save-post-col button {
  width: 80px;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease-in-out;
}

.save-post-col .unsaved-btn {
  background: #fd6c67;
}

.save-post-col .unsaved-btn:hover {
  background: #ca534f;
  transition: 200ms;
  font-size: 28px;
}

.save-post-col .saved-btn:hover {
  background-color: #dfdfdf;
}

.save-post-col .unsaved-icon {
  color: #fff;
}

.save-post-col .saved-icon {
  color: #fd6c67;
}

.edit-item-btn {
  display: flex;
  justify-content: end;
  align-items: center;
}

.edit-item-btn span {
  color: #000;
}

.item-info-section .item-dropdown-menu {
  min-width: 9rem;
  padding: 0;
}

.item-dropdown-menu {
  padding: 0;
}

.item-dropdown-menu .dropdown-menu-item {
  transition: 200ms;
}

.item-dropdown-menu .dropdown-menu-item:hover {
  background-color: #d0d0d0;
  transition: 200ms;
}

.item-dropdown-options {
  border-radius: 50%;
  padding: 2px;
  transition: 200ms;
}

.item-dropdown-options:hover {
  background-color: #d0d0d0;
  transition: 200ms;
}

.item-info-section .item-dropdown-menu {
  transform: translate3d(-100px, 70px, 0px) !important;
}

.edit-item-btn .item-dropdown-menu span {
  font-size: 20px;
  margin-right: 5px;
  color: #9f9f9f;
}

.edit-item-btn .item-dropdown-menu .dropdown-menu-item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px;
}

/* Confirmation dialog for listing deletion */
.confirmation-delete-dialog .delete-btn {
  width: 80px;
  background-color: #13c1ac;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px;
  transition: 200ms;
}

.confirmation-delete-dialog .delete-btn:hover {
  background-color: #0f9989;
}

.confirmation-delete-dialog .close-btn:hover {
  background-color: #e3e3e3;
}

.confirmation-delete-dialog .close-btn {
  width: 80px;
  border: none;
  border-radius: 20px;
  color: #969696;
  padding: 10px;
  transition: 200ms;
}

/* IMAGE */
.item-image {
  width: 100%;
  height: 477px;
}

.item-image img {
  width: 100%;
  height: 477px;
  object-fit: cover;
  border-radius: 10px;
}

.item-info-carousel {
  text-align: center;
}

.item-info-carousel span {
  font-size: 40px;
  position: absolute;
  color: black;
  z-index: 10;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
}

.item-info-carousel .listing-sold-img{
  opacity: 0.5;
}

/* INFO */

.item-price {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
}

.item-info h1 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.item-info .category {
  margin-top: 10px;
  font-size: 0.75rem;
  overflow: auto;
  text-align: left;
}

.item-info ul {
  list-style: none;
  flex-direction: row;
  display: flex;
  padding-left: 0;
}

.item-info ul li {
  padding: 0.5rem 1rem;
}

.item-info ul li span {
  white-space: nowrap;
  cursor: pointer;
  border: 2px solid;
  padding: 4px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #13c1ac);
}

.created-at {
  font-size: 1rem;
  color: #90a4ae;
  line-height: 22px;
  padding: 5px 5px;
}

.location {
  display: flex;
  padding: 5px 5px;
}

.location span {
  color: darkgray;
}

@media only screen and (max-width: 770px) {
  .item {
    width: 100%;
  }

  .user-header .chat-btn-item button {
    width: 100%;
  }

  .user-header .chat-btn-item {
    margin-top: 10px;
  }

  .save-post-col {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 450px) {
  .user-header .user-name {
    padding: 10px;
  }
  .user-header .user-name h5 {
    /* font-size: 12px; */
  }

  /* .user-header .user-image{
        margin: 0 auto;
    } */
}
