/* Profile Section */

* {
  padding: 0;
  letter-spacing: 0.5px;
}

.card-container {
  width: 60%;
  margin: auto;
}

.profile {
  padding: 5rem 0;
  font-size: 20px;
}

.profile-data {
  display: flex;
  align-items: center;
}

.profile-image img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin-right: 15px;
}

.profile-about {
  text-align: right;
}

.profile-data-info span{
  font-size: 16px;
  display: grid;
}

.card-body .heading {
  border-bottom: 3px solid #13c1ac;
}

.card-body .profile-tabs button{
  color: #607d8b;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.card-body .profile-tabs{
  justify-content: center;
  align-items: center;
}

.profile-tabs .nav-link.active{
  color: #13c1ac;
  border-top: 0px transparent;
  border-right: 0 transparent;
  border-left: 0 transparent;
  border-bottom: 2px solid #13c1ac;
}

.card-body .card {
  width: 100%;
  height: 420px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 100ms ease-out;
}
.card:hover {
  box-shadow: 0px 1px 18px -10px;
  transform: translateY(-1.5px);
}

.card .h5 {
  font-size: 1.3rem;
}
.card .card-text {
  font-size: 1.2rem;
}

.card-body .card-img-top {
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
}

.card-body li {
  list-style: none;
  display: inline;
  color: #90a4ae;
}
.card-body ul {
  font-size: 0.875rem;
  padding: 0;
}

.card-description {
  height: 70px;
  color: #90a4ae;
  list-style-type: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: inherit;
  font-size: 1rem;
  margin-bottom: 8px;
  line-height: 1.5;
  padding: 0px;
}

/* BEGIN SAVED BUTTON ON SAVED LISTINGS SECTION */
.card-column .saved-listing-section{
  text-align: end;
  cursor: pointer;
}

.card-column .saved-listing-section span{
  color: #FD6C67;
  border-radius: 50%;
  position: relative;
  bottom: 10px;
  padding: 2px;
  transition: 200ms;
}

.card-column .saved-listing-section span:hover{
  background-color: #d9d9d9;
  transition: 200ms;
}
/* END SAVED BUTTON ON SAVED LISTINGS SECTION */

.profile-user-settings{
  display: flex;
  justify-content: end;
  align-items: center;
}

.profile-user-settings .profile-edit-btn {
  margin-bottom: 20px;
  background: #13c1ac;
  border-color: #13c1ac;
}

.profile-mini-info {
  display: flex;
  justify-content: start;
}

.profile-mini-info span {
  width: 20px;
}

.card-body {
  padding: 12px;
  margin-bottom: 100px;
}

.profile-user-settings .edit-profile-btn {
  background-color: #13c1ac;
  width: 150px;
  padding: 8px;
  border-radius: 50px;
  color: #fff;
  border: none;
  transition: 0.2s;
}

.profile-user-settings .edit-profile-btn:hover {
  background-color: #0f9989;
}

.profile-user-settings .logout-btn{
  width: 35px;
  height: 35px;
  padding: 6px;
  cursor: pointer;
  border-radius: 50%;
  background: #FD6C67;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 1500px) {
  .card-container {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 770px) {

  .card-container {
    width: 100%;
    margin: auto;
  }

  .profile {
    padding: 2rem 0;
    font-size: 16px;
  }
  .profile-user-settings {
    margin-top: 20px;
  }
  
  .profile-user-settings .edit-profile-btn {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {

  .card-column {
    padding: 4px;
  }

  .profile-about {
    margin-top: 20px;
    text-align: left;
  }

}
