/* Message */
@import url("../css/message.css");

@import url("../css/user-card.css");

@import url("../css/notifications.css");

* {
  padding: 0;
  letter-spacing: 0.5px;
}

.container {
  margin-bottom: 100px;
}

.home {
  margin-bottom: 100px;
}

.row {
  margin-top: 20px;
}

/* Loading spinner */
.spinner{
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
  border: 20px solid;
  border-color: #13c1ac transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  to{
    transform: rotate(360deg);
  }
}
/* Loading spinner */


.header .menu .navbar-nav .material-icons {
  font-size: 30px;
}

.main-home {
  overflow-x: scroll;
}
.main-home span {
  color: black;
  font-size: 60px;
  margin: 25px 25px 5px 25px;
}
.main-home p {
  color: black;
}

.main-home span:hover,
.main-home .nav-link:hover {
  color: #13c1ac;
}

.product-info-card {
  cursor: pointer;
  width: 46rem;
  flex-direction: row;
  padding: 0;
  border-radius: 12px;
}

/* .product-info-card p {
line-height: 1.5;
} */
.product-info-card .card-img {
  width: 35%;
}
.product-info-card .card-body {
  width: 65%;
  padding: 10px 14px;
}
.product-info-card .card-img-top {
  /* width: 80%; */
  height: 210px;
  object-fit: cover;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.product-info-card .card-title {
  font-weight: 700;
  font-size: 1.25rem;
  color: #253238;
  margin: 20px 0 2px;
}
.product-info-card .card-text {
  color: #253238;
  font-size: 1rem;
  line-height: 22px;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-info-card .card-info {
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  margin-bottom: 8px;
  line-height: 1.5;
  padding: 0;
}
.product-info-card .card-info li {
  list-style: none;
  display: inline;
  color: #90a4ae;
}
.product-info-card .card-info li::after {
  content: "\00b7";

  text-align: center;
  margin: 0 8px;
}

.product-info-card .card-description {
  color: #90a4ae;
  line-height: 1.5;

  overflow: hidden;
  color: #607d8b;
  font-size: 15px;
  height: 85px;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #13c1ac;
  transition: 100ms ease;
}

/* .navbar-light .navbar-nav .listing-button .material-icons-outlined {
  color: #169182;
} */

.navbar-light .navbar-nav .nav-link .material-icons-outlined {
  font-size: 30px;
}

.menu .nav-link {
  display: flex !important;
}

.notifications-count {
  font-size: 10px;
  width: 14px;
  height: 14px;
  position: relative;
  right: 12px;
  top: -2px;
  border-radius: 10px;
  background: red;
  color: white;
  text-align: center;
}
.nav-link .false-notification {
  width: 14px;
}

.navbar-light .navbar-nav .show > .nav-link {
  color: #13c1ac;
}
.dropdown-toggle::after {
  display: none;
}

/* DISABLE USER MOUSE SELECT */
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #13c1ac; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #13c1ac; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #13c1ac; 
}

/* Auth style */
@import url("./loginStyle.css");

/* Header style */
/* @import url("./header.css"); */

/* Profile style */
/* @import url("./profile.css"); */

/* --------- Responsive ------ */
@media (max-width: 866px) {
  body {
    width: 90%;
    margin: auto;
    padding: 5px;
  }

  .header .navbar .logo {
    display: none;
  }
  .header .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px #ddd;
    z-index: 2;
  }
  .header .menu .navbar-nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header .menu .navbar-nav .material-icons {
    font-size: 35px;
  }

  .product-info-card .card-img-top {
    width: 100%;
    height: 210px;
    object-fit: cover;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .product-info-card .card-img {
    height: 100%;
  }

  @media only screen and (max-width: 866px) {
    .navbar-light .navbar-nav .listing-button .material-icons-outlined {
      color: #13c1ac;
      position: relative;
      font-size: 40px;
      top: -4px;
    }
  }

  @media only screen and (max-width: 500px) {
    .product-info-card {
      width: 100%;
      flex-direction: column;
    }
    .product-info-card .card-img {
      width: 100%;
      object-fit: cover;
    }
    .product-info-card .card-body {
      width: 100%;
    }
  }
}
